.mainContainer {
  background-color: var(--white);
  color: var(--black);
  width: 100%;
  height: 6em;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-row-gap: 0.5em;
}

.contactContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.footerNav {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style-type: none;
}

.footerNav li {
  margin-right: 1em;
}

.footerNav li a:hover {
  color: var(--accent);
}

.copyright {
  color: var(--gray);
  font-size: 0.75em;
  text-align: center;
}
