.logoContainer {
  position: relative;
  top: -2em;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 5px;

  background-color: var(--white);
  padding: 2em;

  /* ensure space for animation */
  height: 50%;
  width: 50%;
  cursor: pointer;
}

.logo {
  width: 65%;
  height: auto;
}

.clickMe {
  height: 100%;
  color: var(--light-gray); 
  overflow: hidden;
  font-size: 0.75em;
}
