.background {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logoContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;

  background-color: var(--white);
  padding: 2em;

  /* ensure space for animation */
  height: 50%;
  width: 50%;
}

.logo {
  width: 65%;
  height: auto;
}

.clickMe {
  color: var(--light-gray); 
}
