.logoContainer {
  position: absolute;
  top: 3em;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: calc((100vh - 6em) / 1.1);
}

.logo {
  width: 35%;
  height: auto;
}

