.mainUl {
  position: fixed;
  top: 0;
  left: 0;
  background-color: var(--white);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 3em;
  list-style-type: none;
  z-index: 1000;
}

.listElement {
  display: flex;
  font-size: 1em;
  height: 3em;
  width: 13%;
}

.listElement > a, .contact {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  cursor: pointer; /* ensures contact appears as a link */
}

.listElement > a > p, .contact > p{
  margin: 0 8px 0 5px;
}

.listElement:hover {
  color: var(--white);
  background-color: var(--gray);
}

.arrow, .arrowVisible {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.arrow {
  opacity: 0;
  transform: translateX(-5px);
  transition: opacity 0.5s ease, transform 0.5s ease;
}

.arrowVisible {
  opacity: 1;
  transform: translateX(0);
  transition: opacity 0.5s ease, transform 0.5s ease;
}
