.default, .hover {
  padding: 1em 1em 1em 2.75em;
  border-radius: 5px;
  background-color: var(--white);
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: left;
  transition: background-color 0.5s ease-in-out;
  cursor: pointer;
}

.hover {
  background-color: var(--light-gray);
}

.titleBox {
  font-size: smaller;
  display: flex;
  justify-content: left;
  align-items: center;
}

.summary {
  color: var(--gray);
}

.projectImage {
  display: flex;
  justify-content: left;
  align-items: center;
}
.projectImage img {
  width: 70%;
  height: auto;
}