.default {
  width: 100%;
  height: 100%;
  padding: 1.2em;
  border-radius: 5px;
  background-color: var(--white);
  display: flex;
  flex-direction: column;
  justify-content: top;
  align-items: center;
  cursor: pointer;
}

.titleBox {
  width: 90%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: smaller;
  margin-bottom: 12px;
  position: relative;
}

.titleBox::after {
  content: '';
  width: 100%;
  height: 2px;
  position: absolute;
  bottom: -6px;
  background-color: var(--gray);
}


.summary {
  margin: 0 0 0 1em;
  color: var(--gray);
}

.projectImage {
  display: flex;
  justify-content: center;
  align-items: center;
}

.projectImage img {
  width: 75%;
  height: auto;
}