.parentContainer {
  display: grid;
  width: 12.75em;
}

.typingContainerLeft {
  background-color: var(--black);
  color: var(--white);
  margin-bottom: 1em;
  text-align: center;
  justify-self: left;
  padding: 0 0.25em 0 0.25em;
}

.typingContainerRight {
  background-color: var(--black);
  color: var(--white);
  text-align: center;
  justify-self: right;
  padding: 0 0.25em 0 0.25em;
}
