.waves {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
}

.waves svg {
  position: relative;
  display: block;
  width: calc(119% + 1.3px);
  height: 80px;
}

.waves .shapeFill {
  fill: var(--white);
}
