.mainAboutContainer {
  display: flex;
  height: 100%;
  width: 100%;
  overflow-y: auto;
}

.aboutImageContainer {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
}

.aboutTextContainer {
  padding: 1em;
  display: grid;
  flex: 2;
}

.ppImage {
  margin: 1em 0em 1em 0em;
  width: 80%;
  height: auto;
  object-fit:cover;
}

.bootsImage {
  margin: 1em 0em 1em 0em;
  width: 70%;
  height: auto;
  object-fit: cover;
}

.aboutText {
  background-color: var(--gray);
  color: var(--white);
  padding: 0.5em;
  margin: 0em 0em 1em 0em;
}
