.parentContainer {
  width: 100%;
  height: fit-content;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.message {
  margin: 0 0 4em 0;
  color: var(--gray);
}

.gridContainer {
  display: grid;
  width: 75%;
  margin-bottom: 300px;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 300px);
  gap: 30px;
}

.outerMotion {
  width: 100%;
  height: 100%;
}

@media (max-width: 1000px) {
  .gridContainer {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 600px) {
  .gridContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 75px 0 75px 0;
  }
}