.parentContainer {
  width: 100%;
  height: calc(200vh - 3em);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.message {
  margin: 0 0 4em 0;
  color: var(--gray);
}

.gridContainer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 300px);
  gap: 2em;
  height: 75%;
  width: 75%;
}

.outerMotion {
  width: 100%;
  height: 100%;
}
