:root {
  --white: #f6f6f6;
  --black: #050910;
  --deep-black: #041417;
  --accent: #70e7d1;
  --gray: #3f4a48;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: var(--black);
  background: var(--white);
  display: flex;
  flex-direction: column;
  font-family: Helvetica, sans-serif;
  font-size: 1.2em;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

/* general layout to confine all pages to the correct area */
.real-body {
  width: 100vw;
  height: calc(100vh - 3em);
}
